body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background for the page */
}

pre {
    padding: 10px;
    border-radius: 5px;
    background-color: #282c34; /* Ensure this only applies to code blocks */
    overflow: auto;
    max-width: 100%;
}

.copy-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #61dafb;
        border: none;
        padding: 5px 10px;
        color: #000;
        cursor: pointer;
        border-radius: 3px;
        font-size: 12px;
    }

    .copy-button:active {
        background-color: #21a1f1;
    }